<section id="features">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div class="mx-auto max-w-2xl text-center">
      <div>
        <p
          class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter"
        >
          Servicios
        </p><p
          class="mt-4 text-lg max-w-xl mx-auto tracking-tight text-slate-500"
        >
          Somos la única empresa en la zona que se dedica a la reparación de
          vehículos y maquinaria pesada, especialmente en construcción, forestal
          y pesca. Ofrecemos excelentes herramientas y servicios a nuestros
          clientes, y siempre estamos en constante capacitación técnica y social
          para seguir mejorando.
        </p>
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-7xl pt-12">
        <h2 class="sr-only">Features.</h2><div>
          <div
            class="grid gap-12 grid-cols-1 lg:space-y-0 lg:text-center md:grid-cols-3"
          >
            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Ajuste Motor
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                El ajuste de motor es un procedimiento que consiste en cambiar
                piezas y refacciones del motor pero a partir del trabajo y/o del
                ojo humano.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Reparación de Sistemas Electricos
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                El mantenimiento en sistemas electrónicos es la modificación que
                se le realiza generalmente al ECU(DPF).
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Reparación de ECU
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                La ECU es la unidad de control electrónico que regula el motor.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Reparación de Sistemas Hidráulicos
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                Un sistema hidráulico utiliza un fluido a presión para impulsar
                maquinaria o mover componentes mecánicos.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Reparación de Transmisión
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                Conjunto de piezas que transmiten la potencia generada por el
                motor directamente hacia las ruedas, para que el vehículo pueda
                desplazarse.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Reparación de Frenos y Suspensión
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                Está compuesto principalmente de tres componentes:
                amortiguadores, resortes y puntales.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
