<section class="bg-slate-100">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-8"
  >
    <div class="max-w-2xl mx-auto md:text-center">
      <h2 class="text-black font-extrabold lg:text-5xl text-4xl tracking-tight">
        Nuestro Equipo
      </h2>
    </div>
    <ul
      role="list"
      class="grid max-w-2xl grid-cols-1 gap-6 mx-auto mt-16 sm:gap-8 lg:mt-20 lg:max-w-none lg:grid-cols-3"
    >
      <li>
        <ul role="list" class="flex flex-col gap-y-6 sm:gap-y-8">
          <li>
            <figure class="relative h-full p-6 bg-white rounded-3xl">
              <blockquote class="relative">
                <p class="text-base text-slate-500">
                  Nuestro jefe mecánico supervisa y coordina las actividades de
                  reparación y mantenimiento de vehículos y maquinarias pesadas.
                </p>
              </blockquote>
              <figcaption
                class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100"
              >
                <div>
                  <div
                    class="text-lg font-semibold leading-6 text-black font-display"
                  >
                    Cristian Chavez
                  </div>
                  <div class="mt-1 text-sm text-slate-500">Jefe Mecanico</div>
                </div>
                <div class="overflow-hidden rounded-full bg-slate-50"></div>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure class="relative h-full p-6 bg-white rounded-3xl">
              <blockquote class="relative">
                <p class="text-base text-slate-500">
                  Nuestro jefe mecánico supervisa y coordina las actividades de
                  reparación y mantenimiento de vehículos y maquinarias pesadas.
                </p>
              </blockquote>
              <figcaption
                class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100"
              >
                <div>
                  <div
                    class="text-lg font-semibold leading-6 text-black font-display"
                  >
                    Jose Obreque
                  </div>
                  <div class="mt-1 text-sm text-slate-500">Jefe Mecanico</div>
                </div>
                <div class="overflow-hidden rounded-full bg-slate-50"></div>
              </figcaption>
            </figure>
          </li>
        </ul>
      </li>
      <li>
        <ul role="list" class="flex flex-col gap-y-6 sm:gap-y-8">
          <li>
            <figure class="relative h-full p-6 bg-white rounded-3xl">
              <blockquote class="relative">
                <p class="text-base text-slate-500">
                  Nuestro administrador e ingeniero de software gestiona
                  operaciones y recursos de IT, administra el sistema para el
                  taller y su desarrollo, mantenimiento y solución de problemas
                  de sistemas.
                </p>
              </blockquote>
              <figcaption
                class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100"
              >
                <div>
                  <div
                    class="text-lg font-semibold leading-6 text-black font-display"
                  >
                    Saul Muñoz
                  </div>
                  <div class="mt-1 text-sm text-slate-500">
                    Administrador e Ingeniero de Software
                  </div>
                </div>
                <div class="overflow-hidden rounded-full bg-slate-50"></div>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure class="relative h-full p-6 bg-white rounded-3xl">
              <blockquote class="relative">
                <p class="text-base text-slate-500">
                  Nuestro mecanico repara y mantiene vehículos y maquinarias
                  pesadas.
                </p>
              </blockquote>
              <figcaption
                class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100"
              >
                <div>
                  <div
                    class="text-lg font-semibold leading-6 text-black font-display"
                  >
                    Cesar Sepulveda
                  </div>
                  <div class="mt-1 text-sm text-slate-500">Mecanico</div>
                </div>
                <div class="overflow-hidden rounded-full bg-slate-50"></div>
              </figcaption>
            </figure>
          </li>
        </ul>
      </li>
      <li>
        <ul role="list" class="flex flex-col gap-y-6 sm:gap-y-8">
          <li>
            <figure class="relative h-full p-6 bg-white rounded-3xl">
              <blockquote class="relative">
                <p class="text-base text-slate-500">
                  Nuestro mecanico repara y mantiene vehículos y maquinarias
                  pesadas.
                </p>
              </blockquote>
              <figcaption
                class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100"
              >
                <div>
                  <div
                    class="text-lg font-semibold leading-6 text-black font-display"
                  >
                    Ignacio Hernandez
                  </div>
                  <div class="mt-1 text-sm text-slate-500">Mecanico</div>
                </div>
                <div class="overflow-hidden rounded-full bg-slate-50"></div>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure class="relative h-full p-6 bg-white rounded-3xl">
              <blockquote class="relative">
                <p class="text-base text-slate-500">
                  Nuestro ayudante mecanico esta encargado de prestar apoyo a
                  todo el personal.
                </p>
              </blockquote>
              <figcaption
                class="relative flex items-center justify-between pt-6 mt-6 border-t border-slate-100"
              >
                <div>
                  <div
                    class="text-lg font-semibold leading-6 text-black font-display"
                  >
                    Fabian Mardonez
                  </div>
                  <div class="mt-1 text-sm text-slate-500">
                    Ayudante Mecanico
                  </div>
                </div>
                <div class="overflow-hidden rounded-full bg-slate-50"></div>
              </figcaption>
            </figure>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
